* {
    box-sizing: border-box;
}

body {
    background-color: #98e24d;
}
/* header section */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../images/clouds.jpg)
    }
    header h1 {
        display: inline-block;
        font-size: 48px;
    }
    /* styling the text */
    header h1 .ral {
        color: darkgoldenrod;
    }
    
    header nav {
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
    
    header nav ul {
        list-style-type: none;
    }
    
    header nav ul li {
        display: inline-block;
        margin-left: 25px;
    }

/* about me info */
.aboutme {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkgoldenrod;
    color: #ffffff;
}
/* image attributes */
.aboutme img {
    max-height: 225px;
}
 
.float-left {
    float: left;
    margin-right: 25px;
}


.aboutme h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


.aboutme h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.card {
    background-color: darkolivegreen;
    border-style: solid;
    border-width: 10;
    padding: 10px;
    float: left;
    width: 25%;
  }

  .card header {
    padding: 20px;
    
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }






.footer {
    padding: 30px;
  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

.footer h2 {
    font-size: 20px;
}
/* add media query */
/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
    
    body {
        background-color: orange;
    }
    
    .card {
      width: 50%;
    }
    /* Change the header color */
    h3 {
      background: darksalmon;
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    
    body {
        background-color: darkred;
    }
    
    .card {
      width: 100%;
    }
    /* Change the header color */
    h3 {
      background: #8ac4ff;
    }
  }
  